body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#navbar__section {
    padding: 15px 20px;
    width: calc(100vw - 40px);
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-items__container {
    width: 50%;
    display: flex;
    flex-direction: row;
}

#navbar-item__logo {
    display: inherit;
    align-items: center;
}

#navbar__title {
    margin-left: 20px;
    font-size: 1.6em;
    font-weight: 600;
}

#navbar-items-action__container {
    justify-content: space-around;
}

#api-call__section {
    padding: 0 20px;
    width: calc(100vw - 40px);
    display: flex;
    flex-direction: column;
}

#user_item {
    text-align: center;
    text-decoration: none;
}

.navbar__item {
    margin: 0;
    color: black;
    cursor: pointer;
}

#api_title {
    font-size: 1.25em;
    font-weight: 600;
}

table {
    width: calc(100vw - 40px);
    border-collapse: collapse;
}

th {
    padding: 0.75em;
}

td {   
    padding: 0.5em 0.75em;
    background-color: #dddddd;
}

th,
td {
    border: 1px solid black;
    padding-right: 2em;
    text-align: left;
}

